html[data-theme="dark"] {
	--primary: #131619;
	--secondary: #252a30;
	--tertiary: #1c2025;
	--blue: #1f8efa;
	--red: #ee423d;
	--yellow: #ffab4f;
	--green: #05c985;
	--purple: #9649b7;
	--orange: #f58b34;
	--text: #ffffff;
	--text-muted: #ffffff80;
	--selection: #ffffff19;
}