html[data-theme="gray"] {
	--primary: #283039;
	--tertiary: #2e3842;
	--secondary: #323d48;
	--blue: #1e8cfa;
	--red: #ee443f;
	--yellow: #ffa94d;
	--green: #05c783;
	--purple: #9549b6;
	--orange: #f58b34;
	--text: #ffffff;
	--text-muted: #ffffff80;
	--selection: #ffffff19;
}