html { /* Fallback theme */
	--primary: hsl(0, 0%, 75%);
	--tertiary: hsl(0, 0%, 83%);
	--secondary: hsl(0, 0%, 90%);
	--blue: #1f8efa;
	--red: #ee423d;
	--yellow: #ffab4f;
	--green: #05c985;
	--purple: #9649b7;
	--orange: #f58b34;
	--text: #212529;
	--text-muted: #373737ee;
	--selection: #21252914;
	color-scheme: light;
}