/* Editor */
.flow-editor-container,
.flow-editor-body {
	height: 100%;
	width: 100%;
	position: relative;
	flex: 1;
}

.flow-editor {
    height: 100%;
    width: 100%;
    border-radius: var(--rounded);
    padding: var(--spacing-lg);
    background: var(--secondary);
}