.toggle-password {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--spacing-md);
    cursor: pointer;
}

#login-form input[name="password"] {
    padding-right: calc(var(--icon-scale-sm) + 2 * var(--spacing-md));
}