.stream-events-row {
    width: 100%;
}

.stream-components {
    padding-left: var(--spacing-xl);
}

.stream-component-content,
.stream-variable-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1ch;
}

.stream-component-parameter-wrapper {
    display: inline-block;
}

.stream-component-parameter {
    display: inline-block;
    width: auto !important;
    min-height: 1.75rem;
    min-width: 3rem;
}

.stream-variable {
    background-color: var(--secondary);
    border-radius: var(--rounded);
    padding: var(--spacing-sm) var(--spacing-md);
    width: fit-content;
    cursor: pointer;
    user-select: none;
    z-index: 5;
}

.stream-variable-content {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.stream-variable-content .stream-component-parameter {
    background: var(--translucent) !important;
}

.stream-variable[data-stream-variable-group="streams"] {
    background: var(--green);
}

.stream-variable[data-stream-variable-group="devices"] {
    background: var(--orange);
}

.stream-variable[data-stream-variable-type="recordings"] {
    background: var(--red);
}

.stream-variable[data-stream-variable-type="weather"] {
    background: var(--yellow);
}

.stream-variable.ui-draggable-dragging {
    opacity: 0.9;
}