form.form {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-lg);
    background: var(--secondary);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    margin: calc(var(--spacing-sm) * -1)
}

form.form .form-group {
    padding: var(--spacing-sm);
}

form.form .form-group-title {
    font-size: 1.5rem;
    margin-bottom: var(--spacing-sm);
}

form.form .form-group-description {
    color: var(--text-muted);
    margin-bottom: var(--spacing-sm);
    display: block;
}